{% extends 'base.html' %}
{% block content %}
{% for pick in object_list %}
<div class="panel">
  <h3><a href="{{ pick.get_absolute_url }}">{{ pick.sport }}</a></h3>
  <p>Posted by <a href="{% url 'user_detail' slug=pick.user.username %}">{{ pick.user.username }}</a> on {{ pick.created_at }}</p>
  <p>{{ pick.vote_set.all.count }} Vote{{ pick.vote_set.all.count|pluralize }}</p>
<form method="post" action="{% url 'vote' %}">
  {% csrf_token %}
  <input type="hidden" name="pick" value="{{ pick.id }}" />
  <input type="hidden" name="user" value="{{ pick.id }}" />
  <button>+</button>
  </form>
</div>
{% endfor %}
{% endblock %}