{% extends 'base.html' %}
{% block content %}
<h1>{{ pick.sport }}</h1>
<p>{{ pick.description }}</p>
  <p>Posted by {{ pick.user.username }} on {{ pick.created_at }}</p>
{% if pick.user == user %}
<p><a href="{% url 'pick_update' pk=pick.id %}">Edit Pick</a></p>
<p><a href="{% url 'pick_delete' pk=pick.id %}">Delete Pick</a></p>
{% endif %}
{% if replies.count > 0 %}
<h3>{{ replies.count }} Reply{{ replies.count|pluralize }}:</h3>
{% endif %}
{% for reply in replies %}
<div class="panel">
  <p>{{ reply.text }}</p>
  {% if reply.user == user %}
  <p><a href="{% url 'reply_update' pick_pk=pick.id reply_pk=reply.id %}">Edit Reply</a></p>
  <p><a href="{% url 'reply_delete' pick_pk=pick.id reply_pk=reply.id %}">Delete Reply</a></p>
{% endif %}
  <p> Answered by {{ reply.user.username }} on {{ reply.created_at }}</p>
</div>
{% endfor %}
{% if not user_replies %}
<p><a href="{% url 'reply_create' pk=pick.id %}">Send Reply</a></p>
{% endif %}
{% endblock %}