{% extends 'base.html' %}
{% block content %}
<h1>{{ user_in_view.username }}</h1>
<p>Email address: {{ user_in_view.email }}</p>
<p>First name: {{ user_in_view.first_name }}</p>
<p>Last name: {{ user_in_view.last_name }}</p>
{% if user_in_view == user %}
<p><a href="{% url 'user_update' slug=user.username %}">Edit profile</a></p>
{% endif %}
<h3>Picks ({{ picks.count }})</h3>
{% for pick in picks %}
<p><a href="{{ pick.get_absolute_url }}">{{ pick.sport}}</a></p>
{% endfor %}
<h3>Replies ({{ replies.count }})</h3>
{% for reply in replies %}
<p><a href="{{ reply.pick.get_absolute_url }}">{{ reply.pick.sport }}</a></p>
<p> {{ reply.text }}</p>
{% endfor %}
{% endblock %}